.postForm {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: auto;
    background-color: #c8c8c8;
    padding: 10px 8px;
    border-radius: 6px;
    gap: 5px;
    margin: auto;
  }