.loginForm {
    display: flex;
    flex-direction: column;
    margin: 0 200px;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 0.1);
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    gap: 10px;
}