.navbar {
  width: auto;
  height: auto;
  padding: 20px 30px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 0 10px 5px lightgray;
}

.menu {
  display: flex;
  gap: 16px;
  align-items: center;
}

.active {
  color: red;
}
